@font-face {
	font-family: "Envy Code R";
	src: url(../assets/EnvyCodeR.ttf);
	/*src: url(../assets/FederationClassic.ttf);*/
}

body {
	font-family: "Envy Code R";
	font-weight: 100;
	font-size: 15pt;
	margin: 2em;
	background-image: url('../assets/picard_facepalm_rb.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#messages {
	opacity: .85;
	margin-top: 2em;
}

.msgUser {
	font-size: 0.75em;
	color: cadetblue;
}

.msgText {
	padding: 0.25em;
	color: black;
}

.msgDate {
	font-size: .5em;
	padding: .25em;
	color: black;
}

.message {
	padding: .5em;
	margin-bottom: .5em;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}

.send {
	text-align: right;
	background-color: lightgoldenrodyellow;
}

.receive {
	text-align: left;
	background-color: beige;
}
