@font-face {
	font-family: "Envy Code R";
	src: url(../assets/EnvyCodeR.ttf);
	/*src: url(../assets/FederationClassic.ttf);*/
}

body {
	font-family: "Envy Code R";
	font-weight: 100;
	margin: 2em;
	background: rgba(73,155,234,1);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
		/* background-image: url('../assets/picard_facepalm_rb.jpg');
	background-size: cover;
	background-repeat: no-repeat; */
}



input {
	font-size: 3rem;
}

#messages {
	opacity: .85;
	margin-top: 2em;
}

.message {
	padding: .75em;
	margin-bottom: .5em;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.msgUser {
	font-size: 2rem;
	color: cadetblue;
}

.msgText {
	font-size: 3rem;
	color: black;
}

.msgDate {
	font-size: 1rem;
	padding: .25em;
	color: black;
}

.send {
	text-align: right;
	background-color: lightgoldenrodyellow;
}

.receive {
	text-align: left;
	background-color: beige;
}
